@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #199be1;
  --secondary-color: #2494c4;
  --accent1-color: #46e4ba;
  --accent2-color: rgb(111, 154, 235);

  /* change the values below to your chosen font(s) */
  --heading-font: "Jaro";
  --paragraph-font: Work Sans, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396e94; /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: #396e94; /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: #396e94;
  --nav-link-color: #396e94;
  --nav-background-color: #d4ac0d;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396e94;
}
/* Set a maximum width and center the content div */
#content {
  max-width: 1600px;
  margin: 0 auto;
}

#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  /* make this element invisible until we are ready for it */
  display: none;
}
.moveDown {
  margin-top: 3em;
}

/* Style nav links */
nav a {
  text-align: center;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 35px;
}

nav {
  display: flex;
  justify-content: space-around;
}
#Hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}
#Hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}
/* Center the text in hero message headings */
#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

/* Center elements with class .button-box */
.Button-box {
  text-align: center;
}
#hero-img {
  width: 100%;
}

/* Center text in main sections */
main section {
  text-align: center;
}
main section img {
  box-sizing: border-box;
}
.Home-title {
  font-family: "Major Mono Display", "Work Sans", Helvetica;
  font-size: 2em;
  margin-top: 10px;
  color: #027fb0;
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.Under-home {
  font-family: "Neuton", "Work Sans", Helvetica;
  color: #0086ba;
}

/* Set height for background */
#background {
  height: 725px;
  background-color: #aee6ed;
  grid-column: 1 / 12;
  grid-row: 4 / 10;
}

/* Style body background */
body {
  background-color: #88d8f8;
  font-family: Helvetica, sans-serif, Arial;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

/* Style header background */
header {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 150px auto;
}
h2 {
  margin: 0;
}

/* Hover effect for nav links */
nav a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
}

/* Set width for icons */
.icon {
  width: 80px;
  padding-top: 10px;
}
.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
  border: Solid#0085ba6f 10px;
}

.book,
.join {
  background-color: var(--nav-background-color);
  color: var(--nav-link-color);
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: #e0d6b8; /* Added background color for hover state */
}
.card-img,
.mountains {
  width: 100%;
}
.card-img {
  border: 10px solid #d9c2a3;
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #6f7364;
}
card-img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}
.mountains {
  grid-column: 2 / 8;
  grid-row: 5 / 9;
  box-shadow: 5px 5px 10px #6f7364;
}
.rivers-card {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}
.camping-card {
  grid-column: 5 / 8;
  grid-row: 2 / 3;
}
.rapids-card {
  grid-column: 8 / 11;
  grid-row: 2 / 3;
}

.msg {
  background-color: var(--nav-background-color); /* Added background color */
  color: var(--nav-link-color);
  line-height: 1.5em;
  padding: 35px;
  grid-column: 6 / 11;
  grid-row: 6 / 7;
  box-shadow: 5px 5px 10px #6f7364;
}
.msg p {
  font-size: 0.8em;
  padding-bottom: 15px;
}

/* Style footer paragraphs */
footer {
  background-color: var(--primary-color);
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p {
  font-size: 1.2em;
}

/* Hover effect for footer links */
footer p a:hover {
  text-decoration: underline;
}
footer .social img {
  padding-top: 15px;
}

@media screen and (max-width: 900px) {
  #hero,
  .home-grid {
    display: block;
    height: auto;
  }
  nav,
  footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  #hero {
    margin-top: 0;
  }
  #hero-msg {
    margin-top: 0;
  }
  #hero-msg h4 {
    display: none;
  }
  #hero-msg h1 {
    color: #6f7364;
  }
  .home-title {
    font-size: 25px;
  }
  .rivers-card,
  .camping-card,
  .rapids-card {
    margin: 50px auto;
    width: 60%;
  }
  #background {
    display: none;
  }
  .mountains,
  .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  footer {
    margin-top: 25px;
  }
}
