#content {
  max-width: 1600px;
  margin: 0 auto;
}
nav a {
  text-align: center;
  color: #fcfbfb;
  text-decoration: none;
}
#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}
/* Centering elements with class .button-box */
.button-box {
  text-align: center;
}
/* Centering <section> elements within <main> */
main {
  text-align: center;
}
#background {
  height: 725px;
}
body {
  background-color: #88d8f8;
}
header {
  background-color: rgba(20, 30, 13, 0.7);
}
nav a:hover {
  background-color: rgb(12, 46, 70);
  color: #d9c2a3;
}
.icon {
  width: 80px;
}
footer p {
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
}
