@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap");

:root {
  --primary-color: #3ec9f8;
  --secondary-color: #0aebef;
  --accent1-color: #62dedc;
  --accent2-color: rgb(255, 255, 255);
  --heading-font: "Cinzel", "Montserrat", Helvetica, sans-serif;
  --paragraph-font: "Montserrat", "Share Tech", sans-serif;
  --headline-color-on-white: #396e94;
  --headline-color-on-color: white;
  --paragraph-color-on-white: #0e3a5a;
  --paragraph-color-on-color: white;
  --paragraph-background-color: #095a94;
  --nav-link-color: #65a7d6;
  --nav-background-color: #215b82;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396e94;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--paragraph-font);
  line-height: 1.6;
  background-color: var(--accent2-color);
  color: var(--paragraph-color-on-white);
}

header {
  background: var(--nav-background-color);
  color: var(--headline-color-on-color);
  display: flex;
  align-items: center;
  padding: 1rem;
}

header a {
  color: var(--nav-link-color);
  text-decoration: none;
  margin-left: 1rem;
  font-family: var(--paragraph-font);
  position: relative;
  padding-right: 1rem;
}

header a::after {
  content: "→";
  position: absolute;
  right: -1.5rem;
  opacity: 0;
  transition: opacity 0.3s, right 0.3s;
}

header a:hover::after {
  opacity: 1;
  right: 0;
}

header a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

header nav {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

.logo {
  height: 50px;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.business-card,
.think-bank-card,
.discover-card,
.canvas-card,
.venmo-card,
.yahoo-finace-card {
  background: var(--accent2-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

h2 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  margin: 1rem 0;
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
}

footer {
  text-align: center;
  background: var(--nav-background-color);
  color: var(--headline-color-on-color);
  padding: 1rem;
}

footer a {
  color: var(--nav-link-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--nav-hover-link-color);
}

footer p {
  margin: 0.5rem 0;
}
